[2014-02-21 07:02] erikstmartin opened #6 "Custom commands on build"
I've been playing with fresh a bit lately and i'm loving it. I'd really like to see something in the config that allows me to run my own custom commands when changes occur.

An example might be to run ctags.

[2014-06-03 11:40] CallumVass opened #13 "go get returning an error"
Hi,

When I try a `go get github.com/pilu/fresh` I get the following error:

![image](https://cloud.githubusercontent.com/assets/2204920/3159620/c516b8f0-eb13-11e3-9eee-62ec9cd20884.png)

Any idea how I fix this? Thanks.

[2014-09-22 05:14] jsimnz opened #19 "Ignore some paths"
Have a setting that can allow you to ignore some directories from being watched.

It can sometimes be the case that not all folders contents should force a reload of the entire application.

[2014-12-12 14:36] MathieuDoyon opened #21 "Vagrant shared folder?"
I'm trying to build y app in a Vagrant box with shared folder between the VM and my local computer. However Fresh doesn't seem to rebuild when I edit files locally.

Has anyone experienced something similar?

[2015-03-16 10:24] ifraixedes commented on #21
I think that it's not a problem of `fresh`.

In vagrant you can synchronise you folder with different mechanisms; I've tested 2, the native virtualbox mechanism and NFS.

I've discarded the native one, it was so slow when I was accessing to the files inside the virtual machine.

NFS works quite well for those reading and writing files, however if the modification of the files are in the host machi

[2015-03-16 20:34] bkochendorfer commented on #6
:+1: Looking forward to this feature.

[2015-05-18 14:35] flamingtop opened #28 "syscall undefined installing on windows 7"
[code]

[2015-05-18 14:39] ShawnXu commented on #28
Hoping I'm not the first one trying to use "fresh" ...

[2015-05-20 09:38] s-oram commented on #28
Same here on Win7 64bit.

[2015-06-09 02:18] pjebs opened #29 "How to use (MacOSX)"
I followed the instructions.

I used go get -> No errors.

Yet when I cd to my go programs path and type "fresh" it says: -bash: fresh: command not found

Do I need to change my PATH ENV VARIABLE to point to somewhere specific?

[2015-06-09 02:29] pjebs commented on #29
Solved it. Just had to update PATH env variable.

[2015-06-09 02:29] #29 closed

[2015-06-09 02:40] pjebs opened #30 "Seems to state this error:"

[2015-06-09 02:48] #30 closed

[2015-06-10 10:09] pjebs opened #31 "Cross-Compile"
Is there any flags to specify the exact build parameters:

I run a mac but I want to build a linux executable.
I use this command:

GOOS=linux GOARCH=amd64 go build -o main.linux main.go

[2015-06-10 10:11] pjebs commented on #31
In fact, I don't even want fresh to run it (since it can't on a mac platform).
I just want it to compile the code as I make changes.

(I actually run it on my linux vagrant virtual machine)

[2015-06-10 10:11] pjebs commented on #31
In fact, I don't even want fresh to run it (since it can't on a mac platform).
I just want it to compile the code as I make changes.

(I actually run it on my linux vagrant virtual machine)

[2015-06-10 12:16] pilu commented on #31
@pjebs unfortunately it's not possible in this version. it will be in the new version I'm working on

[2015-06-10 12:16] #31 closed

[2015-06-10 12:28] pjebs commented on #31
When is the new version expected?

[2015-06-13 11:07] evt commented on #21
Works fine with vagrant rsync-auto running.

[2015-06-13 16:40] ifraixedes commented on #21
@evt brilliant, thanks for letting us know.

[2015-06-16 10:16] Mitranim opened #32 "Double restart?"
Using `fresh` with a small Go server on OS X. Whenever I save a file, `fresh` recompiles and restarts the application twice. Is this common? How to troubleshoot this?

Other than this small issue, really enjoying the tool. Please keep it up!

[2015-06-16 10:49] pilu commented on #32
@Mitranim it's not commond, but you can run it with the verbose option to see what's happening. is it possible that your editor saves twice and fresh compiles twice? you can try increasing the `build_delay` option

[2015-06-16 10:58] Mitranim commented on #32
I'm sorry but I don't see a verbose option in the configuration. Anyway what I'm seeing in the terminal is that `watcher` sends the `MODIFY|ATTRIB` event (for the same file) twice. This happens even when using the `touch` utility to modify the file, so this doesn't appear to be editor related.

[2015-06-16 11:05] Mitranim commented on #32
Some additional notes. The folder is in a git repo; it's not inside Dropbox or anything like that, and I don't believe I have any daemons watching this location; quitting the editor and restarting Finder has no effect. Would love to hear other troubleshooting suggestions. :)

[2015-06-16 12:06] pilu commented on #32
I remember in the past it was an issue with fsnotify, that's why I introduced the delay option, to avoid this problem and just building once if I receive a second event just after the first one. it might be solved with go-fsnotify

[2015-06-16 12:13] Mitranim commented on #32
Increasing the delay to `2000` does solve the issue, but that's a lot of waiting. I'm not entirely sure what you mean by solving this with `go-fsnotify`. Any clue please?

[2015-06-16 13:10] pilu commented on #32
yes, 2000 is too much, when I had that problem my editor was saving twice, but the second event was something like 100 ms after the first one.
about fsnotify, I'm using github.com/howeyc/fsnotify to watch the fs, but I think https://github.com/go-fsnotify/fsnotify is more up to date, switching to that may solve the issue, I'm not sure.

[2015-06-16 13:26] Mitranim commented on #32
Trying out your suggestion. Installed https://gopkg.in/fsnotify.v0 per the recommendation on https://github.com/go-fsnotify/fsnotify#api-stability, switched `fresh` to it, recompiled binary. No observable change so far. The watcher still fires two events per file modification. =( And the newer version of `go-fsnotify` has a different API. =/

[2015-07-15 17:17] mariokostelac opened #34 "Support for getgb.io"
Do you have any concerns regarding putting a build command in config file?
Default config would be "go", "build"..., but it would allow us to define "gb", "build".
It is already done for "run" command with `build_name`.

I've seen that you're in the middle of refactoring so I am curious should I wait or create a PR anytime soon?

[2015-08-08 17:04] ianwalter opened #35 "Silent failure when there is a public directory"
I'm seeing a strange bug where if I create an empty directory called `public` in my project root, fresh outputs the following but never executes my application's main function:
[code]

This doesn't happen if I create an empty directory with a different name.
Perhaps I would be able to use #19 as a work around if it were merged?

[2015-08-11 15:29] pkieltyka opened #36 "abandoned?"
Hey @pilu - just wondering if you're no longer supporting fresh? .. it's a great project and my team uses it everyday (my fork though, since its quite stale) .. whats up?

[2015-08-12 14:20] pilu commented on #36
hi @pkieltyka, thank you! I'm actually building a new fresh2 from scratch to have multiple groups of custom commands, I hope to finish it soon and merge or use all the open PR

[2015-08-12 14:22] pkieltyka commented on #36
thats awesome :) looking forward to trying it

[2015-08-21 10:52] baijum commented on #36
I waited for pull reuest #16 to be committed for one year.  Like many others I also use a personal fork of this project: https://github.com/baijum/refresh

[2015-08-21 10:54] pilu commented on #36
Hi @baijum , I never merged that PR, it's importing the wrong pkg ("github.com/ae0000/fresh/runner"), there is a comment too.

[2015-08-21 11:12] baijum commented on #36
@pilu I added that comment :) There are two other pull requests which does the same thing: #20 #26
These three pull requests takes slightly different approaches.

[2015-08-21 13:05] pilu commented on #36
nice thank you @baijum , I hope to finish the new version soon and merge everything in the new branch

[2015-08-25 17:51] pkieltyka commented on #36
@pilu btw, while you're working on fresh2, keep in mind the GO15VENDOREXPERIMENT where projects will have a `./vendor` folder in their projects. I personally don't think that folder should be listened to.. it would be far too many events to listen to, and similar to how fresh doesnt listen to $GOPATH packages. One easy way to solve this is to offer ability to exclude directories from fresh listeni

[2015-08-26 12:21] gedw99 opened #38 "question"
fresh is neat thanks. Really liking golang

Its a tool, and so is not imported into my project code.
i use glide for vendoring. works well with golang 1.5 so far.

Now, my question is:
How can i ensure that fresh is installed as a tool for each project ?
One way is to make it a "cmd" in my project maybe... Not sure.

[2015-08-26 13:39] pilu commented on #38
I think it's better to have it as a tool in your system and not as a
dependency for your project.
There are workaround to do that but I would suggest to just install it in
your system separately.

On 26 August 2015 at 13:21, Ged <notifications@github.com> wrote:

--
Andrea Franz
http://gravityblast.com
http://twitter.com/gravityblast

[2015-09-04 03:03] ianwalter commented on #35
I think this has something to do with Docker and/or VirtualBox shared folders. Closing.

[2015-09-04 03:03] #35 closed

[2015-11-09 18:02] jchannon commented on #36
How goes fresh2?

[2015-11-10 09:58] pilu commented on #36
@jchannon it going slowly, I don't have much time lately for this. I think I'll finish the base part and start accepting PR if anyone is interested

[2016-01-03 09:29] dev-ahmed opened #44 "too many open files issue"
i always face this issue when i run this command

"inotify_init: too many open files"

 any suggestions ?

[2016-01-10 03:41] c2h5oh commented on #44
Your OS is limiting the number of files you can watch at the same time. How you increase that limit depends on your OS.

[2016-01-10 03:43] pilu commented on #44
@dev-ahmed how many files do you have? this commit fied it up to 10000 https://github.com/pilu/fresh/commit/f6e0ef3d7a7f4094b2abfd03f0e30f616bd15368

[2016-01-12 18:39] dev-ahmed commented on #44
@c2h5oh am using Ubuntu 15.10 , what are the procedures to increase this limit ?

[2016-01-19 14:57] aaudis commented on #44
I run in similar issue

What I did

I increased `fs.inotify.max_user_instances = 1024` in `/etc/sysctl.conf`, my value was 128

If option `fs.inotify.max_user_instances` is not defined in `/etc/sysctl.conf` you simply add it

after you change your `/etc/sysctl.conf`

run commands:

[code]

this should fix your problem

[2016-01-19 16:59] #44 closed

[2016-01-19 16:59] #38 closed

[2016-01-19 17:00] #6 closed

[2016-01-30 21:16] MaxHalford opened #47 "tmp/ folder"
Hello.

At each re-build I'm getting an error:

[code]

Indeed when I check the `tmp/` folder there is binary named `runner-build`.

Is this normal behavior? I'm on Mac Yosemite with Go 1.5.

Regards.

[2016-02-06 15:27] vadimyer opened #48 "tmp dir creation permission denid"
I've noticed that in a project's folder with 0755 permissions where fresh is being run, tmp folder can't be created. Temporarily giving this folder 0777 solves the issue, but the tmp folder is creates from root:root user and group (and you can't anymore delete this folder if not root or sudo), so I guess that's the problem.

[2016-02-06 20:57] robbles opened #49 "Adjust logging verbosity?"
Is there a setting for this? It looks like there isn't anything referenced in the config file.

The reason I'm asking is that I have a `vendor` directory, and `fresh` logs everything in there on startup, like so:

[code]

There's also a bunch of what looks like debug output about receiving events, checking for file existence, etc.

It looks like you've got these logs nicely separated into differen

[2016-02-09 10:41] pilu commented on #49
Hi @robbles , there's no option for that but you are right, it something to have, I'll try to do it for the next version.

[2016-02-09 10:41] #49 closed

[2016-03-20 17:22] markreg opened #50 "Ignore directory and all nested directories/files"
Adding a directory to the `ignored` list does not make `fresh` ignore all nested directories/files.

[2016-03-22 02:32] wubin1989 commented on #50
Yes, I found the same problem. Anyone can help to fix it?

[2016-04-26 15:03] pilu commented on #36
@pkieltyka @jchannon @baijum  guys I think I won't be able to finish the new version soon, so I'll be happy to receive PR or give you access to the repo if you are interested

[2016-05-16 07:26] CaledoniaProject opened #51 "Bug! Should've ignored format string in logs"
Minimal case,

[code]

And you will see this in fresh,

[code]

[2016-05-16 09:20] pilu commented on #51
@CaledoniaProject you are right, but everything is used in the string format for now. feel free to open a PR if you want to fix it :)

[2016-06-03 18:46] drKnoxy commented on #50
ugh

[2016-06-07 17:56] metal3d opened #53 "Dockerized !"
Hi,
It's not an issue, just to say that I'm using a docker container I've made and finally gave it to the community:
https://hub.docker.com/r/metal3d/go-fresh/

You may try, it works like a charm at home. It's nice to work with other containers as linked mongo database by docker-compose. I'm using "Glide" to get "vendor" directory in my project, no need to install them in the container now.

[2016-06-22 02:45] ElvinChan commented on #51
@pilu I made a PR for this (https://github.com/pilu/fresh/pull/54), please consider ^^

[2016-06-29 10:05] gmccue commented on #50
@wubin1989 are you using a proper `recompile.conf` file? I had the same issue, but it seems to be resolved after setting the proper `root` and `ignore` lines in `recompile.conf`.

My `recompile.conf` file for reference:
[code]

I start the binary with the following command within a Docker container:
[code]

[2016-07-06 14:14] cristian-sima commented on #50
![image](https://cloud.githubusercontent.com/assets/12199042/16620936/0c7e1c9a-439d-11e6-8767-bb07d45b534b.png)

[2016-07-06 14:14] cristian-sima commented on #50
So, the idea is that is ignoring that directory, but it watches all the sub directories

[2016-07-06 14:20] gmccue commented on #50
@cristian-sima can you paste your `recompile.conf` ?

[2016-07-06 14:22] cristian-sima commented on #50
Sure. I called it `fresh.conf`

root:              .
tmp_path:          tmp
build_name:        cube
build_log:         cube-build-errors.log
valid_ext:         .go, .tmpl
ignored:           tmp, node_modules, util, static, source, conf, grunt
build_delay:       600
colors:            1
log_color_main:    cyan
log_color_build:   yellow
log_color_runner:  green
log_color_watcher: magenta

[2016-07-06 14:37] cristian-sima commented on #50
Thanks for your quick reply.  I was searching for an alternative to this project cause I can not do `npm install` in the sense it blocks the node folders

[2016-07-07 11:42] cristian-sima commented on #50
@pilu  or someone else can take a look at this?

It is really frustrating :angry:

[2016-07-08 17:17] cristian-sima commented on #50
Someone?

[2016-07-09 00:00] pilu commented on #50
Hi @cristian-sima , I'm sorry for the late reply. Unfortunately I can't work on this soon, but it might be a quick fix for anyone who wants to send my a PR.
There's a function called `isIgnoredFolder` in `utils.go` that checks that. It should be easy to change the `== paths[0]` to just check if a folder is a subfolder of the ignored path. maybe @ernestas-poskus that worked on that can help us?

[2016-07-10 15:21] cristian-sima commented on #50
@pilu I solved this problem with the pull request

[2016-07-15 15:53] cristian-sima opened #56 "Performance suggestion"
I wait a long time for the first time to load it. I got a lot of messages which I do not care about

![image](https://cloud.githubusercontent.com/assets/12199042/16880291/40b9409e-4abd-11e6-88ea-ace778a8ecc8.png)

From my own expirence I know that a log takes a lot of time. So, it may be a good suggestion to not display the ignored directories, but just the ones that I am interested in wathcing

W

[2016-07-27 20:55] VojtechVitek commented on #36
Check out this fork: https://github.com/pressly/fresh. It has a lot of cherry-picked fixes and some other improvements.

[2016-08-04 09:13] gmccue commented on #36
@pilu I would be happy to help maintain this project if you like. I would prefer doing so rather than keeping this repo "abandoned".

[2016-08-04 09:21] pilu commented on #36
thank you @gmccue. that would be awesome. do you think it's better if you commit here or do you prefer to fork it? then I link link to your forks guys. let me know please.

[2016-08-04 09:37] gmccue commented on #36
@pilu why not keep it here? You already have 700+ stars.

[2016-08-05 10:34] pilu commented on #36
ok guys I can give you access here if you want

[2016-08-05 11:04] gmccue commented on #36
@pilu sounds good!

[2016-08-09 10:58] gmccue commented on #36
@pilu any news here? I would gladly review the open PRs and tickets.

[2016-08-16 15:20] pilu commented on #36
@gmccue I added you :metal:

[2016-08-16 15:33] pkieltyka commented on #36
btw, we have an improved version at https://github.com/pressly/fresh that we're maintaining

[2016-08-16 15:35] pilu commented on #36
added @pkieltyka as well!

[2016-08-16 16:17] gmccue commented on #13
@kpashka is this still an issue for you?

[2016-08-16 16:18] #21 closed

[2016-08-16 16:31] gmccue commented on #36
@pkieltyka @VojtechVitek maybe you could submit a PR with your updated fork to this repo?

[2016-08-16 16:37] kpashka commented on #13
@gmccue It's not, because I'm not using Windows anymore 😆

[2016-08-16 16:52] VojtechVitek commented on #36
@gmccue afaik, our fork doesn't have backward compat. config file. //cc @c2h5oh?

[2016-08-16 16:58] pkieltyka commented on #36
hey guys, we talked it over and decided we're just going to keep our fork .. we don't have the time to maintain the project, pressly/fresh has just a few fixes for us.. feel free to pick from it if you need. but for the most part we're going to keep our fork as is

[2016-08-17 08:30] #13 closed

[2016-08-25 12:23] jaybeecave commented on #36
Hi, can someone update the readme to contain a link to the best fork?

Spent 10 mins tracking down the best fork for this, it is a very good solution and the best version of it should be readily available/obvious.

[2016-09-16 21:45] gmccue commented on #28
@s-oram is this still an issue for you?

[2016-09-16 22:24] gmccue commented on #36
@pilu would you mind creating a project to build on Travis CI (or giving me permissions to do so)?

[2016-09-17 02:34] s-oram commented on #28
@gmccue No, I'm not using Go for anything at the moment. And I've moved to Windows 10.

[2016-09-17 10:26] #28 closed

[2016-10-22 16:48] #47 closed

[2016-12-04 17:33] gmccue commented on #50
Fixed by #60

[2016-12-04 17:33] #50 closed

[2016-12-04 17:34] gmccue commented on #56
Fixed by #60

[2016-12-04 17:34] #56 closed

[2016-12-04 17:35] gmccue commented on #19
Fixed by #60

[2016-12-04 17:35] #19 closed

[2016-12-04 17:36] gmccue commented on #36
I am now helping to actively maintain this repo. More bug fixes are on the way.

[2016-12-04 17:36] #36 closed

[2016-12-04 17:37] gmccue commented on #32
@Mitranim is this still an issue?

[2016-12-04 17:38] pilu commented on #36
thank you @gmccue for your work! 🤘

[2016-12-04 17:39] gmccue commented on #53
@metal3d Thanks! If you would like to add this to the `README` you can create a PR to do so.

[2016-12-04 17:39] #53 closed

[2016-12-04 17:40] gmccue commented on #36
@pilu if you could setup a Travis CI build for the project that would still be great :)

[2016-12-04 17:42] pilu commented on #36
@gmccue just activated! https://travis-ci.org/pilu/fresh

[2016-12-04 17:42] gmccue commented on #36
@pilu Perfect! Thanks a million.

[2016-12-04 21:08] metal3d commented on #53
I should update my docker image before. But right, I'll do it :)

BTW: big thanls for your work

[2016-12-05 09:44] Mitranim commented on #32
@gmccue Haven't checked since last year, and I don't remember how it ended up, sorry.

[2016-12-05 09:51] #32 closed

[2017-01-18 16:56] flibustenet opened #62 "race detector"
It could be fine to add the race detector by option (or even by default !)

[2017-01-18 16:59] flibustenet opened #63 "install to cache pkg"
`go build` doesn't cache, it could be fine to use the cache of `go install`

[2017-01-30 07:50] kokizzu opened #64 "No Port configuration?"
i have 2 project/service on the same directory (and subdirectory), one listen on 3000, and other one 8088

with https://github.com/codegangsta/gin

i can do this:

[code]

is there equivalent configuration for fresh?

[2017-02-17 01:07] jeremylowery opened #66 "Custom build step for quicktemplate"
I use https://github.com/valyala/quicktemplate for templating, which requires running a qtc command which generates go code from templates to be included before the build. Is there a way to specify a "prestep" or custom build command to have qtc run before every reload?

[2017-02-23 00:48] atilkan opened #68 "fresh: command not found on windows"
I am trying to run this on Windows 7. It returns this:
` fresh: command not found`

I only did this. I don't know any other step to run it even after reading readme file.
`go get -u github.com/pilu/fresh`

What should i do to simply run it.

[2017-04-20 16:56] timkellogg commented on #68
This is probably due to your `$GOPATH` not being configured properly.  Try `echo $GOPATH` and see if that includes the directory where fresh was installed.

[2017-04-21 06:28] atilkan commented on #68
I think go get install packages to the same location. That is not that. I will check to see anyways.

[2017-04-25 07:38] bodyno commented on #44
use runner.conf to ignore some fold

[2017-05-15 18:58] atilkan commented on #68
So it is not about paths.

[2017-06-24 08:45] k0fi opened #74 "fresh: command not found on Ubuntu"
I installed fresh using go get and I see it being placed at `~/go/src/github.com/pilu/fresh`.

I can build and run my project at `~/go/src/myapp`, but as for fresh I get:

[code]

How can I fix this?

[2017-06-24 17:07] codeblooded commented on #74
what is your `$PATH`? Do you see `fresh` in `~/go/bin`?

[2017-06-28 11:21] k0fi commented on #74
Here is the $PATH:

[code]
And yes, I see `fresh` in `~/go/bin`

[2017-07-03 04:09] JamesRichard-son commented on #74
k0fi looks like you have not set the path try setting it in ~./bashrc

`export GOPATH=$HOME/go`
`export PATH=$PATH:$GOROOT/bin:$GOPATH/bin`

add the 2 lines and you should be good.

[2017-07-20 07:22] Somebi opened #75 "App is not restarted on error"
By the looks of it, you don't listen for signals of process you are executing after build.
If there is some error afterwards, it doesn't do anything.
Listen for signals and restart app or exit pilu/fresh on app error to allow docker container to restart itself.

It's critical if used inside docker.

[2017-08-27 13:26] yoesoff opened #79 "inotify_init: too many open files"
Hi, I got issue after adding so many js dependencies in my project folder thru npm.
my question is how to ignore some specific folder(s) to avoid this kind of error ?

`inotify_init: too many open files`

![image](https://user-images.githubusercontent.com/241982/29750205-ee666bf6-8b65-11e7-81ce-994ad522a737.png)

Thanks in advance,

[2017-08-27 13:34] #79 closed

[2017-08-27 13:35] yoesoff commented on #79
sorry for this

[2017-08-27 13:53] yoesoff commented on #50
I'm still having this issue, this is my conf:

[code]

![image](https://user-images.githubusercontent.com/241982/29750431-b2e25a32-8b69-11e7-91d4-295cf1238890.png)

can comebody tell me how to fix it ?

[2017-08-29 12:34] AndreaM16 commented on #74
@JamesRichard-son solution worked for me. Just adding the PATH as `export PATH=$PATH:$GOROOT/bin:$GOPATH/bin`.

`> go env`

    GOARCH="amd64"
    GOBIN=""
    GOEXE=""
    GOHOSTARCH="amd64"
    GOHOSTOS="linux"
    GOOS="linux"
    GOPATH="/home/andream16/go"
    GORACE=""
    GOROOT="/usr/lib/go"
    GOTOOLDIR="/usr/lib/go/pkg/tool/linux_amd64"
    GCCGO="gccgo"
    CC="gcc"
    GOGCCFLAGS="-fP

[2017-09-26 14:24] CraigChilds94 commented on #51
:+1:

[2017-10-21 20:03] cheddarwhizzy commented on #50
I also can't ignore subdirectories with a '/' in the name (ie public/assets). I'll see if I can get this squared away

[2017-11-12 03:27] Gujarats commented on #44
@pilu @aaudis The solution for increasing the `fs.inotify.max_user_instances` = 1024 in `/etc/sysctl.conf`.
Only works for temporary, this will happen again after several changes I have made with the file.

In my cases I change the `_examples/traffic/main.go` for several times and the error `| 10:23:35 app         | inotify_init: too many open files` shows again.

it seems that we need to limit th

[2017-11-12 03:32] Gujarats commented on #74
You can fix this using this step :
1. go to the source fresh and build it : `cd $GOPATH/github.com/pilu/fresh` and `go build` in root of the project.
2. now the `fresh` file will exist if no error happen, you can place this in your `/usr/bin/local/`  so that `fresh` command will exist.

[2017-12-05 06:50] slier81 opened #81 "Config :log_color_app is not working"
As title, i set `log_color_app = blue`, yet my application log text is still in white

[2018-02-26 11:50] Mahdihp commented on #68
not runed `fresh`
GoPATH is set
C:\Users\mahdi>echo %GOPATH%
C:\Users\mahdi\go

[2018-03-15 15:41] DarkDrim commented on #44
I have the same problem, I use docker

[2018-03-24 20:25] andysbolton opened #85 "'open tmp/runner-build: no such file or directory' error when rebuilding in Docker container"
Hi there,

I'm using fresh on Windows 10 inside a Docker container with a mount. It seems to build correctly the first time, but on subsequent rebuilds will fail with `go install github.com/me/project: open tmp/runner-build: no such file or directory`. If I bash into the container I can see `tmp/runner-build` when listing the directory contents, but when trying to interact with it I get more `no s

[2018-04-30 14:05] SmartChainz opened #86 "Running fresh is stuck hanging on "waiting for loop 2""
I have done nothing to my machine and this was working two days ago. Now I am stuck waiting on loop 2. Has anyone else had a similar issue?

I have killed everything running on localhost:3000 so nothing should be hindering it from listening to that port.
![fresh-hanging-on-loop2](https://user-images.githubusercontent.com/6390872/39431218-0b29c29c-4c5e-11e8-984f-3de5a1a2858f.png)

[2018-05-01 11:58] edmundluk3 opened #87 "Allow custom command before and after re-build process"
execute command such as `swag init` and so on

[2018-05-02 10:28] #74 closed

[2018-05-02 20:59] trinode commented on #50
@gmccue should I open a new issue (since this is closed) as I'm experiencing what @cheddarwhizzy is, in my case I can ignore frontend, but not frontend/node_modules

[2018-05-04 15:43] zwhitchcox commented on #79
What was your solution?

[2018-05-14 05:00] DroidBoyJr opened #88 "App is rebuilt every time a file is opened in editor"
I am using Atom editor with other Golang plugins.

When I have a project directory open in sidebar, every time I open new file to edit by selecting from sidebar, fresh runs the rebuild process.

I tried with other text editors too, and every time a file is opened, fresh runs rebuild.

Can we restrict it to only save event of the file?

FYI, none of the editors have autosave or similar feature(s) e

[2018-05-22 19:27] gmccue commented on #48
@vadimyer just to clarify, this issue is about `chown`-ing `chmod`-ing the `tmp` dir to the current user?

[2018-05-22 19:29] gmccue commented on #87
Could you describe your use-case a bit more? What would your ideal configuration for this feature look like? Do you just want to add a `pre` and `post` hook to the build?

[2018-05-22 19:30] gmccue commented on #75
Could you explain a bit more what exactly your issue is?

[2018-05-22 19:32] gmccue commented on #62
Are you requesting the ability to add `-race` to the build args? If not, could you please explain what exactly you're requesting?

[2018-05-23 05:34] flibustenet commented on #62
Yes, and maybe other args ?

[2018-05-24 07:42] tiger-regit commented on #81
Here' s my screenshots

![image](https://user-images.githubusercontent.com/6560524/40471098-3f0ddb8a-5f68-11e8-8921-e07e51d99c10.png)

It's working

[2018-05-24 09:00] slier81 commented on #81
@tiger-regit strange..mine not working..btw i already abandon this project since its not being maintained anymore..Currently im using `realize`

[2018-05-24 09:00] #81 closed

[2018-06-01 06:19] edmundluk3 commented on #87
just like `pre` or `post` triggers at each time `fresh` re-build. Using this to re-generate my Swagger docs which embedded inside source code

[2018-07-19 15:19] erlalitkumar commented on #68
I did it by giving full file path to the  main.go file inside the fresh folder
go run C:/go-Work/src/github.com/pilu/fresh/main.go

[2018-08-03 19:33] Thebarda commented on #48
same issue here. @vadimyer your workaround works for me

[2018-08-22 03:44] drewdgilmore opened #93 ""(MISSING)" when encoding values"
When encoding values, an error occurs. The values "@" are not encoded and just comes back with (MISSING). This was tested apart from **fresh** and it works correctly with **go run**

`func test() {
	v := url.Values{}
	v.Set("email", "test@test.com")
	log.Println(v.Encode())
}`

Response:
`email=test%!t(MISSING)est.com`

[2018-09-23 22:51] sc4224 commented on #48
@vadimyer @Thebarda hi, having this same problem, can you give me the exact command that you run in your dockerfile to deal with this issue? I can't get this to work for me

[2018-10-27 04:46] senseluo commented on #44
for me just creating a ` fresh.conf ` in root folder:

[code]

[2018-11-19 08:46] ch3rub1m opened #94 "Is there any way to ignore output from fresh?"
I think there are too much debug info from fresh, it couldn't be ignore and added prefix string to my output.
There should be an option to mute fresh.

[2018-11-20 14:15] renanmpimentel commented on #93
:+1:

[2018-12-10 06:42] DiegoGallegos4 commented on #75
I agree on this, even trying to make a syntactic error, fresh won't notice it and still build. That would be the easiest reproducible bug.

[2018-12-30 14:32] perelin commented on #93
Same issues here. Any solution in sight?

[2019-01-10 09:54] arthurlataks commented on #87
+1 For the hooks - in my case I'm interested more in the post hook, to shoot out `tput bel` for me to be notified that build is done, since build takes couple secs, which Im using to continue reading something or w/else

[2019-01-16 15:17] DallanQ opened #95 "runner-build not getting killed when fresh exits"
I've been using fresh for several years and it's worked perfectly (thank you)!  However, I recently encouraged co-workers to use it and their fresh installs leave the runner-build process running when fresh exits (when they kill fresh using control-c). Any ideas what's going wrong? One co-worker is running on mac and another on ubuntu. The runner.conf contains just ignored: vendor

[2019-02-06 21:24] idubinskiy commented on #93
This is fixed in #96. In case that doesn't get merged, you can use my fork `github.com/idubinskiy/fresh` which has been updated to have the command point to the fixed package.

[2019-03-27 07:59] virskor opened #97 "will you support command line flag?"
when i try to run the code below, i could not parse flags given
[code]

thank you

[2019-05-08 06:22] iwalkerr opened #98 "go 1.12.5 fresh failure，Please update timely."

[2019-05-08 06:30] #98 closed

[2019-05-08 14:28] OmarTrigui commented on #95
Same here, this problem was faced plenty of times. When fresh keeps running in the background, it leads the application to make too many DB connections until the dev DB gets stuck.
[code]

[2019-05-10 06:14] developerlaoz opened #99 "Fresh does not support go mod vendor?"
# Fresh does not support go mod vendor?

I start a project with go mod. When I build and run my project, I can use `go build -mod=vendor cmd/main.go` and `go run -mod=vendor cmd/main.go`.

But I can not use fresh, because the source of build step in fresh is `cmd := exec.Command("go", "build", "-o", buildPath(), root())`.

Am I right? How can I use fresh in my project.

My project folder is :
├──

[2019-06-11 11:46] chazapp commented on #97
Project hasn't been maintained in two years. Either @gravityblast transfers ownership to someone who will maintain it or try your luck with a different hot-reloader. [CompileDaemon](https://github.com/githubnemo/CompileDaemon) could be what you need.

[2019-06-25 02:51] AgentCosmic commented on #87
I actually wrote a tool which can overcome this issue. You might want to take a look at https://github.com/AgentCosmic/xnotify

[2019-06-27 15:19] NiloofarGheibi commented on #99
any progress on this issue?

[2019-07-16 14:56] vitormelon opened #101 "Is there any way to use fresh with Delve debug?"
I'm wanting to use delve and fresh on a docker container to build and debug my project even when i alter some file. Anyone know how to do it?

[2019-08-06 13:15] kolah commented on #101
I have created a similar project based on fresh. It allows you to to switch modes from rebuild to debug. https://github.com/kolah/runner

[2019-09-03 08:08] eugene710899989 opened #102 "can it support .env file watch?"
sometimes I switch database connection between different environment,but it won't rebuild.

[2019-09-27 02:11] honkkki opened #103 "fresh maybe makes the gin console log color invalid？"
Cant see the console log color with fresh command

[2019-11-04 07:45] Mizumaki commented on #99
It seems `fresh` doesn't support go module mode, so I decided to use [`realize`](https://github.com/oxequa/realize) as an alternative for hot reload development.

My project folder is :
├── server
│   └── main.go
├── go.mod
├── go.sum
└── .realize.yaml (This is the replacement of `runner.conf`)

`.realize.yaml` is :
[code]

After installing `realize`, `realize start` will work fine.

When you inst

[2019-11-10 13:12] ikeohachidi commented on #68
I fixed mine by adding the path to the go bin folder where the fresh binary is stored on my PC to the PATH environment variable. My path was C:/Users/<user name>/go/bin.
Restart powershell after too.

[2019-12-02 02:04] kinyat commented on #99
Thanks @Mizumaki! Your solution works great!

[2019-12-13 04:00] ivan-avalos opened #104 "fork/exec tmp/runner-build: no such file or directory"
I cannot make Fresh work again after I deleted the _tmp_ directory. It should generate the files again once I restart it, right? It doesn't!

[2019-12-13 04:02] ivan-avalos commented on #104
Nevermind, I just deleted the `runner.conf` file and it's working again.

[2019-12-13 04:02] #104 closed

[2020-01-20 12:04] rbreahna commented on #62
Agree, this is the one thing that bothers me about fresh

[2020-02-20 10:14] wowowoll opened #105 "permission denied"
go get github.com/pilu/fresh: open /usr/local/go/bin/fresh: permission denied

[2020-02-21 22:38] arcv commented on #105
Try agaibn with sudo
`sudo go get github.com/pilu/fresh`

[2020-07-10 14:04] AtharvaThorve opened #110 "zsh: command not found: fresh"
I am using WSL+ZSH on my windows setup but when I try to execute command `fresh` after executing `go get github.com/pilu/fresh` I get the error `zsh: command not found: fresh`. <br>
When I directly use windows powershell then it works fine but when using WSL leads to the above error.<br>
This is my `go env`:
[code]
What should I do to resolve this error?

[2020-07-17 19:47] Uttammgr commented on #110
@AtharvaThorve  i had similar issue but i'm one mac, the way i solved it by fixing path

 * first i made seperate folder for getting folder for go get library so i named golib
 * then set it to go path where following should resemble

[code]
* i think you can do similar by adding following after setting up properly

[code]

[2020-07-17 23:22] PSalant726 commented on #110
@AtharvaThorve The `go env GOPATH` variable is set when the language is installed, but `$GOPATH` is not. If you want to install global package binaries, you need to set `$GOPATH` and add `$GOPATH/bin` to your `$PATH` in your `.zhsrc` file. Then, you can `go get {{ some package }}` **outside of a module directory**, and you'll be able to run the binary globally.

[2020-07-29 10:09] #110 closed

[2020-11-29 07:49] Rachit-galaxy commented on #68
Same with linux

[2021-01-21 17:09] zhenniuiubi commented on #103
gin.ForceConsoleColor()

[2021-01-21 17:10] zhenniuiubi commented on #103
gin.ForceConsoleColor()

[2021-01-21 17:10] zhenniuiubi commented on #103
gin.ForceConsoleColor()

[2021-03-24 09:02] abdessamadelhamdany opened #111 "Disable logging setting"
Can I disable logging from the `runner.conf` config file

Or if we can have something like Logging Level

It will help to get a clear application logging when debugging something

Thanks

[2021-06-12 15:59] souvikhaldar opened #112 "How to run go install on file change"
I want to run `go install` in my current directory whenever a go file is changed (using vim `:w`). How can I do it?
I tried the following but it did not work:
[code]

[2021-10-01 09:18] PodsekinNapopravku opened #113 "How to provide concrete go file that should be builded without changing root directory?"
Hello!
As example i have project structure like this
`/project/cmd/main.go`
`/project/internal/something.go`
`/project/internal/...`

When i run `fresh-dlv` from `/project` it causes an error in console "no Go files in /project".
I have two ways
1. run `fresh-dlv` from `/project/cmd`
2. run `fresh-dlv -c custom_config.conf` (when `custom_config.conf` provides correct root directory "root /project/

[2021-11-20 14:43] zx-luo opened #114 "Using fresh in docker container will not overload code"
![image](https://user-images.githubusercontent.com/16828632/142730495-226c2104-ed81-44c1-8625-3b7bdc72bdb8.png)

[2021-11-23 06:07] nilesh-bamne commented on #87
Any update on this?

[2021-12-02 03:44] shiyiya commented on #114
It works.
[code]

[2021-12-07 10:14] Dason-zdc opened #115 "The correct path could not be found"
E:\dason\golang>fresh
18:8:03 runner      | InitFolders
18:8:03 runner      | mkdir ./tmp
18:8:03 runner      | mkdir ./tmp: Cannot create a file when that file already exists.
18:8:03 watcher     | Watching .
18:8:03 main        | Waiting (loop 1)...
18:8:03 main        | receiving first event /
18:8:03 main        | sleeping for 600 milliseconds
18:8:03 main        | flushing events
18:8:03 main

[2022-01-19 07:39] #97 closed

[2022-03-25 03:04] aequasi commented on #50
Can this get re-opened @markreg

[2022-04-23 06:15] denisrudov commented on #75
when exit(1)
it doesn't reflect on fresh. understandable because it watches the files and nothing were changed
and I have to restart the whole service inside docker-compose :(

@gmccue

[2022-06-10 10:51] ketianlin opened #116 "我的deepin下载下来了，不能在终端运行fresh"
我的deepin下载下来了，不能在终端运行fresh

[2022-07-13 03:11] Liu-Weijie opened #117 "fresh: command not find"
I used go get -v -u github.com/pilu/fresh, but when I use fresh, I get the error about command not find.
And I can't see the fresh in go/bin, but I can see the fresh in go/pkg.
Could anyone give me some help to fix this issue?

[2022-07-14 02:36] gaojianghua opened #118 "zsh: command not found: fresh"

[2022-07-15 06:44] ashuicoder commented on #118
me too

[2022-07-16 08:47] OfflineY commented on #118
Me too, restarted the IDE software still does not work.

[2022-07-17 22:54] Crollster commented on #117
using `go install` does not make the `fresh` command work for me. What I ended up having to do was use the full go run command: `go run github.com/pilu/fresh`

I'm using Windows 11, with Go1.18.4

[2022-07-18 01:48] Liu-Weijie commented on #117
Ok, thank you, I will try it.

[2022-07-21 05:20] 9White commented on #118
me too

[2022-07-21 05:32] OfflineY commented on #118
Now I'm using github.com/cosmtrek/air and it's very convenient

[2022-07-25 03:45] jprada1984 commented on #118
its work, execute:
<img width="641" alt="imagen" src="https://user-images.githubusercontent.com/1116490/180694960-68db5a89-4653-4cd9-ad12-df1b332dada5.png">

[2022-08-22 12:31] Noriyo-ly opened #119 "no required module provides package github.com/pilu/fresh; to add it:"
I have installed fresh, and was able to run it successfully in the last file. When I open the second file, it does not run with an error. But the first one still works.

[2022-09-09 07:19] liuup commented on #118
thats helpful